<section id="three" class="wrapper style1 special" >
        <div align="center" style="margin:0 auto 0 auto;" class="container 50%">
        <section class="box " style="margin:0 auto 0 auto">
          <header class="major">

           <h3>Editar Miembro</h3>
            
          </header>

            
          <%= form_for :miembro, :html => { :multipart => true, method: :put } do |m| %>
        
                              <div class="hidden_element">
                               <%= m.text_field :proyecto_id, autofocus: true ,placeholder:"Nombre Proyecto " ,:required => true, class:"item" %>

                              </div>
                           <div> 
                            <br>   
                            <% correos={}%>
                            <% @nombre_correos.each do |correo|%>
                            <%correos[correo.email]=correo.id%>
                            <%end%>
                            <%lista=correos.sort%>
                            <%=m.label :"Correo Electrónico:"%>
                            <div>
                              <%=m.select :user_id,  lista%>
                            </div>
                         <br>
                       </div>

                                <div>
                                
                                 <% nombres_rol={}%>
                                <% @nombre_roles.each do |rol|%>
                                <%nombres_rol[rol.rol_nombre]=rol.id%>
                                <%end%>
                                <%lista=nombres_rol.sort%>
                                <%=m.label :" seleccione el Rol:"%>
                                <%=m.select :rol_id, lista%>

                               </div>

              <br />                    
              <div class="actions"> 
                <%= button_tag("Guardar", :class => "button special big styleIcon") do %>
                Guardar<%= image_tag("ic_save_white.png", :class => "iconImage")%>
                <% end %>
              </div>

       <% end %>
         
        </div>

        </section>
 </section>