


<section id="main" class="wrapper">
				<div class="container">
<h1 class="tituloNovedades">Novedades</h1>
<h2 class="subtituloNovedades">Desarrollo de los primeros prototipos de la aplicación</h2>

<h5>Fecha:03/10/2016</h5>
<p class="parrafoNovedades">Se desarrollaron los primeros prototipos del maquetado que pretendemos utilizar en las vistas mas importantes de nuestra aplicación Web.Los prototipos se presentaron a un grupo de usuarios potenciales que aportaron valiosas sugerencias acerca de aspectos puntuales que se deben corregir.Algunos de los prototipos mas relevantes se podrán ver a continuación:</p>
<h4 style="text-align: center;" ><br>Registro<br></h4>
<hr>
<%=image_tag("registro1.PNG", :alt => "registro" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>

<h4 style="text-align: center;" ><br>Gestor de proyectos<br></h4>
<hr>
<%=image_tag("proyectos.PNG", :alt => "proyectos" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>
<h4 style="text-align: center;" ><br>Creación de proyectos<br></h4>
<hr>
<%=image_tag("crearProyecto.PNG", :alt => "creación proyectos" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>
<h4 style="text-align: center;" ><br>Gestión de Tareas<br></h4>
<%=image_tag("gestionTareas.PNG", :alt => "gestión Tareas" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>
<hr>
<h4 style="text-align: center;" ><br>Detalles de un proyecto especifico<br></h4>
<%=image_tag("VistaDetalladaProyecto.PNG", :alt => "detalles proyectos" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>
<hr>
<h4 style="text-align: center;" ><br>Tablero de Tareas<br></h4>
<%=image_tag("tableroTareas.PNG", :alt => "Tablero de tareas" ,height: '480', width: '650' , :class=>"imagenNovedadesCentro") %>
<hr>
<p class="parrafoNovedades"><br>Es necesario mencionar que estos prototipos estan sujetos a revisión , y serán sometidos a  varios test de usabilidad, antes de obtener su version final.</p>
					
				</div>
			</section>