<div id="modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<header class="major">
					<h2>Editar Historia</h2>
				</header>
			</div>
			<section id="one"  style="background-color:#e3e3e9">
				<div class="modal-body">
					<%= form_for :historia,:url => historia_update_path(:id => @historia.id),:html => { :multipart => true, id:"historia" } do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="contact_form" style="text-align:center">  
						<div class="hidden_element">
							<%=f.text_field :proyecto_id, value:@historia.proyecto.id  %>
						</div>
						<%= f.text_field :His_Nombre, autofocus: true ,placeholder:"Nombre Historia de Usuario" ,:required => true, style:"background-color:white;" , class:"item" %>
						<br>
						<%= f.text_area :His_Descripcion, rows:3, autofocus: true ,placeholder:"Descripción" ,:required => true, style:"background-color:white;" , class:"item" %>
						
						<br>
						<%= f.text_field :His_Esfuerzo, autofocus: true ,placeholder:"Esfuerzo" ,:required => true, style:"background-color:white;" , class:"item" %>
						
					</div>    
					<div class="modal-footer">
						<div class="actions">
							<%= button_to historia_update_path(:id => @historia.id) ,{:class => "button special big" }, type:"button", :method => :post do %>
							Guardar<%= image_tag("ic_save_white.png", :class => "iconImage")%>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</section>

			

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->