
<div id="product-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<header class="major">
					<h2>Nuevo Historia</h2>
				</header>
			</div>
			<section id="one" class="wrapper " style="background-color:#e3e3e9">
				<%= form_for :historia, :html => { :multipart => true, id:"historia" } do |f| %>
				<div class="modal-body">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="container  contact_form" style="text-align:center">   
						<div align="center" style="margin:0 auto 0 auto;" class="container 50%">
							<br>
							<%= f.text_field :His_Nombre, autofocus: true ,placeholder:"Nombre Historia de Usuario" ,:required => true, style:"background-color:white;" , class:"item" %>
							<br>
							<%= f.text_area :His_Descripcion rows:3, autofocus: true ,placeholder:"Descripción" ,:required => true, style:"background-color:white;" , class:"item" %>
							<br>
							<%= f.text_field :His_Prioridad, autofocus: true ,placeholder:"Prioridad" ,:required => true, style:"background-color:white;" , class:"item" %>
							<br>
							<%= f.text_field :His_Esfuerzo, autofocus: true ,placeholder:"Esfuerzo" ,:required => true, style:"background-color:white;" , class:"item" %>
							<br>     
						</div>  
					</div>    
				</div>
			</section>
			<div class="modal-footer">
				<div class="actions"><br/>
					<%= f.submit "Crear", class: "special big", id:"submit" %>
				</div>
			</div>
			<% end %>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->