<script>
$(document).on('turbolinks:load', function() {
	
	var observer = new MutationObserver(function(mutations) {
  mutations.forEach(function(mutation) {
    console.log('Mutation type: ' + mutation.type);
    if ( mutation.type == 'childList' ) {
      if (mutation.addedNodes.length >= 1) {
      	$('#modal').modal('toggle');
		$('#modal').modal('show');
      }
      else if (mutation.removedNodes.length >= 1) {
        //window.alert("jojo");
      }
    }
    else if (mutation.type == 'attributes') {
       //window.alert('jiji');
    }
        });   
});
  
var observerConfig = {
        attributes: true,
        subtree: true,
        childList: true,
        characterData: true
};
  
// Listen to all changes to body and child nodes
var targetNode = document.getElementById('div_id');
observer.observe(targetNode, observerConfig);
});
</script> 

<style type="text/css">

	.left {float: left;}
	.right {float: right;}

	.clear,.clearer {clear: both;}
	.clearer {
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
	}

	.ui-sortable {
		margin: 0;
		padding: 0;
	}
	#accordion .ui-accordion-content { padding: 0; }

/*
	Example specifics
	------------------------------------------------------------------- */


	/* Columns */

	.column {
		margin-left: 2%;
		width: 32%;
	}

	.column.first {margin-left: 0;}


	/* Sortable items */

	.sortable-list {
		overflow: auto;
		list-style: none;
		min-height: 60px;
		background-color: #3cadd4;
	}


	.backlog-table ul{
		list-style: none;
	}



	.sortable-item{
		border-bottom: 1px solid #515050;
		cursor: move;
		color: white;  
		height: 65px;  
		padding: .3rem .3rem .3rem .3rem;
		text-align: center;
		padding-top: 1.2rem;
		width: 100%;
		background-color: #3cadd4;
	} 



	/* Item placeholder (visual helper) */

	.placeholder {
		background-color: grey;
		border: 1px dashed #666;
		height: 25px;
		margin-bottom: 5px;
	}

	.sprint-table,.backlog-table li:hover{

		background-color: #bcbcbc;
	}

.boardColumn {
    display: table-cell;
    overflow: auto;
}

	.scrollTabla {
	     overflow:scroll;
	     overflow-x: hidden;
	     height:500px;
	    
	}
	
}
</style>



<script>

$(document).on('turbolinks:load', function() {



	$('.new-task').on('click', function(e) {
    e.preventDefault();
    $('#myModal').modal('show');
	});



	$( "#accordion" ).accordion({
			heightStyle: "content" 
		});




    	$('.sortable-list').sortable({
			connectWith: '.sortable-list',
			placeholder: 'placeholder',

			receive	 : function(ev, ui) {

				var tareaid = $(ui.item).data("id");

				var historiaId  = $(this).data("id");
				var estado = $(this).data("estado");
				console.log("nuevo elemento recibido en la historia "+historiaId+" y estado "+estado);

                 	$.ajax(
				{
				  url : '/tareas/edithistoria',
				  type: "POST",
				  data : {id:tareaid,historiausuario_id:historiaId,Estado:estado}
				})
				  .done(function(data) {
				    alert("tarea movida correctamente");

				  })
				  .fail(function(data) {
				    
				  })
				  .always(function(data) {
				   
				  });



				$("#accordion").accordion( "refresh" );
			}

		});



});
</script>

<div class="supreme-container">
<section id="main" class="wrapper">
	<header class="major">
		<h2><%= @sprint.sprint_nombre %> - Tablero de Tareas</h2>
	</header>


	<div class= "container">
			<%= link_to project_details_path(:id => @sprint.proyecto.id), class:"button" do %>
				Backlog
			<% end %>
			<div class="isa_info">
	    		<i class="fa fa-info-circle"></i>
	    			Tareas creadas para realizar el sprint '<%= @sprint.sprint_nombre %>'
				</div>
				</br>


		   <div class="scrollTabla">
				<table class="tablaTareas table table-hover" width="500" >
				<%contador=0%>
				<% for historia in @historias do %>
						<tr>

						<td align="left" valign="top">
							<table align="top">
									
								
									<tr>
										<%if contador==0%>
										 <th>Historia de Usuario</th>
										<%end%>
							    		
									</tr>	

								
									<tr>
									<td>
										<h4>Nombre:<%= historia.His_Nombre %> <%= link_to historia_delete_path(:id => historia.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
								<% end %>
								<%= link_to historia_edit_path(:id => historia.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
								<% end %></h4>
										
										<%= link_to tarea_new_path(:id => @sprint.id, :historia_id => historia.id),  :remote => true,  class:"button  styleIcon " do %>
										Nueva Tarea<%= image_tag("ic_add_white.png", :class => "iconImage")%>
									<% end %>
										
									</td>
									

									</tr>
							</table>
						</td>
						

						<td>
							<table align="top">
							
								<tr>
						    		
						    		<%if contador==0%>
										 <th>Nueva</th>
									<%end%>
						    		
						
								</tr>	
							
								<tr>
								<td>
							
													
								<ul class="sortable-list"   data-id="<%= historia.id %>" data-estado="Nueva">			
										<% for tarea in @tareas %>
											<% if tarea.Estado=="Nueva" && tarea.historiausuario_id==historia.id %>
											<li class="sortable-item"  data-id="<%=tarea.id%>" >
													<div class="row" style="float:top;">	
																<p class="textoBlanco" align="center"><%= tarea.Asunto %></p>
																<%= link_to tarea_delete_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
								<% end %>
																<%= link_to tarea_edit_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
								<% end %>				
													</div>
											</li>
											<% end %>
										<% end %>
									
								</ul>
							
								</td>
								</tr>						
							</table>
						</td>
						
						<td>
							<table align="top">
								
								<tr>
						    			<%if contador==0%>
										 <th>En Proceso</th>
										<%end%>
								
								</tr>
								
								<tr>
								<td>
							
												
										<ul class="sortable-list"  data-id="<%= historia.id %>" data-estado="En Proceso">						
										<% for tarea in @tareas %>
											<% if tarea.Estado=="En Proceso" && tarea.historiausuario_id==historia.id %>
											<li class="sortable-item"  data-id="<%=tarea.id%>" >
													<div class="row" style="float:top;">
																<p align="center"><%= tarea.Asunto %></p>
																<%= link_to tarea_delete_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
								<% end %>
																<%= link_to tarea_edit_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
								<% end %>				
													</div>
											</li>
											<% end %>
										<% end %>
									</ul>
								
							
								</td>
								</tr>						
							</table>
						</td>

						<td>
							<table align="top">
								
								<tr>
						    
						    			<%if contador==0%>
										 <th>Lista Para Test</th>
										<%end%>
								
								</tr>
								
								<tr>
								<td>
							
								<ul class="sortable-list">							
											
										<% for tarea in @tareas %>
											<% if tarea.Estado=="Test" && tarea.historiausuario_id==historia.id %>
											<li class="sortable-item"  data-id="<%=tarea.id%>">
													<div class="row" style="float:top;">
																<p align="center"><%= tarea.Asunto %></p>
																<%= link_to tarea_delete_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
								<% end %>
																<%= link_to tarea_edit_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
								<% end %>				
													</div>
											</li>
											<% end %>
										<% end %>
								</ul>
							
								</td>
								</tr>						
							</table>
						</td>
						<td>
							<table align="top">
								
								<tr>
						    
						    		<%if contador==0%>
										 <th>Terminada</th>
									<%end%>
						
								</tr>	
							
								<tr>
								<td>
							
								<ul class="sortable-list">							
										<% for tarea in @tareas %>
											<% if tarea.Estado=="Terminada" && tarea.historiausuario_id==historia.id %>
											<li class="sortable-item"   data-id="<%=tarea.id%>">
													<div class="row" style="float:top;">
																<p align="center"><%= tarea.Asunto %></p>
																<%= link_to tarea_delete_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
								<% end %>
																<%= link_to tarea_edit_path(:id => tarea.id),  :remote => true, class:"button styleIconSmall float_right" do %>
								<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
								<% end %>				
													</div>
											</li>
											<% end %>
										<% end %>
								</ul>
							
								</td>
								</tr>						
							</table>
						</td>
						
					</tr>
					<%contador=contador+1%>
					<%end%>

				</table>
			</div>
				
		</div>



	</section>
</div>

 <div id="div_id">
	</div>

														
