<script>
$(document).on('turbolinks:load', function() {
	var observer = new MutationObserver(function(mutations) {
  mutations.forEach(function(mutation) {
    console.log('Mutation type: ' + mutation.type);
    if ( mutation.type == 'childList' ) {
      if (mutation.addedNodes.length >= 1) {
      	$('#modal').modal('toggle');
		$('#modal').modal('show');
      }
      else if (mutation.removedNodes.length >= 1) {
        //window.alert("jojo");
      }
    }
    else if (mutation.type == 'attributes') {
       //window.alert('jiji');
    }
        });   
});
  
var observerConfig = {
        attributes: true,
        subtree: true,
        childList: true,
        characterData: true
};
  
// Listen to all changes to body and child nodes
var targetNode = document.getElementById('div_id');
observer.observe(targetNode, observerConfig);
});

$('body').on('focus',".datepicker", function(){
    $(this).datepicker({
      dateFormat: 'yy-mm-dd'
    }).on("change", function() {
    	var input1 = $("#proyecto_proy_fechainicio");
    	var input2 =  $("#proyecto_proy_fechafinalizacion");
    	var error_element=$("span", input1.parent().parent());
    	/*Validaciones del proyecto*/
    	validarFecha(input1,input2,error_element);
    	/*Validaciones del sprint*/
    	input1 = $("#sprint_sprint_fechainicio");
    	input2 = $("#sprint_sprint_fechafinalizacion");
    	error_element=$("span", input1.parent().parent());
    	validarFecha(input1,input2,error_element);
  });
});

function validarFecha(input1, input2, error_element){
	if (input1.val()!="" && input2.val()!="" && input1.val() >= input2.val()){
    		input1.removeClass("valid").addClass("invalid");
    		input2.removeClass("valid").addClass("invalid");
    		error_element.removeClass("error").addClass("error_show"); 
    	} else {
    		input1.removeClass("invalid").addClass("valid");
    		input2.removeClass("invalid").addClass("valid");
    		error_element.removeClass("error_show").addClass("error");    		
    	}
}

function display(msg) {
    window.alert(msg);
}

  $(document).on('turbolinks:load', function() {
	$("#submit").click(function(event){
		var form_data=$("#proyecto").serializeArray();
		var error_free=true;
		//for (var input in form_data){
			//var str = "#"+form_data[input]['name'];
			var str = "#proyecto_proy_fechainicio";
			var element=$(str);
			var valid=!element.hasClass("invalid");
			var error_element=$("span", element.parent().parent());
			if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
			else{error_element.removeClass("error_show").addClass("error");}
		//}
		if (!error_free){
			element.focus();
			event.preventDefault(); 
		}
		else{
			//alert('No errors: Form will be submitted');
		}
	});
	/*Validación del submit del sprint*/
	$("#submit-sprint").click(function(event){
		var form_data=$("#sprint").serializeArray();
		var error_free=true;
		//for (var input in form_data){
			//var str = "#"+form_data[input]['name'];
			var str = "#sprint_sprint_fechainicio";
			var element=$(str);
			var valid=!element.hasClass("invalid");
			var error_element=$("span", element.parent().parent());
			if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
			else{error_element.removeClass("error_show").addClass("error");}
		//}
		if (!error_free){
			element.focus();
			event.preventDefault(); 
		}
		else{
			//alert('No errors: Form will be submitted');
		}
	});
	}).call(this);

</script> 
<style type="text/css">

	.left {float: left;}
	.right {float: right;}

	.clear,.clearer {clear: both;}
	.clearer {
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
	}

	.ui-sortable {
		margin: 0;
		padding: 0;
	}
	#accordion .ui-accordion-content { padding: 0; }

/*
	Example specifics
	------------------------------------------------------------------- */


	/* Columns */

	.column {
		margin-left: 2%;
		width: 32%;
	}

	.column.first {margin-left: 0;}


	/* Sortable items */

	.sortable-list {
		overflow: auto;
		list-style: none;
		min-height: 60px;
		background-color: #3cadd4;
	}


	.backlog-table ul{
		list-style: none;
	}



	.sortable-item{
		border-bottom: 1px solid #515050;
		cursor: move;
		color: white;    
		padding: .3rem 0 .3rem .3rem;
		text-align: left;
		width: 100%;
		background-color: #3cadd4;
	} 



	/* Item placeholder (visual helper) */

	.placeholder {
		background-color: grey;
		border: 1px dashed #666;
		height: 25px;
		margin-bottom: 5px;
	}

	.sprint-table,.backlog-table li:hover{

		background-color: #bcbcbc;
	}

</style>



<script>
	$(document).ready(function() {
		$( "#accordion" ).accordion({
			heightStyle: "content" 
		});


		$('.sortable-list').sortable({
			connectWith: '.sortable-list',
			placeholder: 'placeholder',

			receive	 : function(ev, ui) {
				console.log("nuevo elemento recibido ");
				$("#accordion").accordion( "refresh" );
			}

		});




	});
</script>

<section id="main" class="wrapper">

	<div class= "container">
		
		<div class="row">
			<div class="sidebar 3u 5u(2)" style="padding-top: 1em;padding-right: 1em;">
				<%= link_to sprint_new_path(:id => @proyecto.id),  :remote => true,  class:"button largePadding styleIcon float_right" do %>
					Agregar<%= image_tag("ic_add_white.png", :class => "iconImage")%>
				<% end %>
				<h2>Sprints</h2>

				<div id="accordion" class="sprint-table">
					<% for sprint in @sprints do %>
					<% if sprint.sprint_estado==true %>
					<h3 style="height: 40px; color: #DDDDDD; ">
					<% else %>
					<h3 style="height: 40px; background: #E82C1D; ">
					<% end %>

					<%= sprint.sprint_nombre %>
						<%= link_to sprint_change_state_path(:id => sprint.id),  :remote => true, class:"button styleIconSmall float_right" do %>
						<%= image_tag("ic_cancel_white.png", :class => "iconImageSmall")%>
						<% end %>
						<%= link_to sprint_delete_path(:id => sprint.id),  :remote => true, class:"button styleIconSmall float_right" do %>
						<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
						<% end %>
						<%= link_to sprint_edit_path(:id => sprint.id),  :remote => true, class:"button styleIconSmall float_right" do %>
						<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
						<% end %>
					</h3>
					<div>
						<ul class="sortable-list">


						</ul>
						<div style="text-align: center; background-color: #383b43; padding: 1em;" class="special">
							<%= link_to taskboard_path, class: "button styleIcon" do %>
								TaskBoard
							<% end %>
						</div>
					</div>
					<% end %>
				</div>

			<br />	
			</div>

			<div class="9u 12u(2)">
				<div class="row">
					<% if @proyecto.photo.exists?%>
					<%= image_tag @proyecto.photo.url ,:class => 'logoImage', style: "margin-left: 1.6em;" %>
					<%else %>
					<%= image_tag("logo_proyecto.png",:class => 'logoImage')%>
					<% end %>

					<div>
						<div class="nombre_proyecto">
							<strong><%= @proyecto.proy_nombre %></strong>
						</div>
						<p><%= @proyecto.proy_descripcion %></p>
						<br />
						<%= button_to projects_details_miembros_path(:id => @proyecto.id) ,{:controller => :projects,
							:action => 'miembros', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
							Equipo de Trabajo<%= image_tag("ic_people_white.png", :class => "iconImage")%>
							<% end %>
						</div>
					</div>
					
					<br />
					<br />
					<div class="row">
						<h2>Backlog &ensp;</h2>
						<%= link_to historia_new_path(:id => @proyecto.id),  :remote => true,  class:"button largePadding styleIcon" do %>
							Agregar Historia de usuario<%= image_tag("ic_add_white.png", :class => "iconImage")%>
						<% end %>	
					</div>		
					<div class="backlog-table"  >

						<div class="isa_info">
							<i class="fa fa-info-circle"></i>
							Aquí encontrarás las Historias de Usuario de la pila de este proyecto
						</div>


						<ul class="sortable-list" >							
							<% for historia in @historias do %>
							<li class="sortable-item">
								<div class="row" style="padding-left: 1em; padding-right: 1em;">
									<div class="6u 12u(3)">
										<strong style="color: white;"><%=historia.His_Nombre%></strong>
									</div>
									<div class="6u 12u(3)">
										<div class="row">
											<p>ESTADO</p>
											<p>Esfuerzo: <%= historia.His_Esfuerzo %></p>
											<%= link_to historia_delete_path(:id => historia.id),  :remote => true, class:"button styleIconSmall float_right" do %>
						<%= image_tag("ic_delete_white.png", :class => "iconImageSmall")%>
						<% end %>
						<%= link_to historia_edit_path(:id => historia.id),  :remote => true, class:"button styleIconSmall float_right" do %>
						<%= image_tag("ic_edit_white.png", :class => "iconImageSmall")%>
						<% end %>
										</div>
									</div>
								</div>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="div_id">
	</div>
