 
<style type="text/css">

	.left {float: left;}
	.right {float: right;}

	.clear,.clearer {clear: both;}
	.clearer {
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
	}

	.ui-sortable {
		margin: 0;
		padding: 0;
	}
	#accordion .ui-accordion-content { padding: 0; }

/*
	Example specifics
	------------------------------------------------------------------- */


	/* Columns */

	.column {
		margin-left: 2%;
		width: 32%;
	}

	.column.first {margin-left: 0;}


	/* Sortable items */

	.sortable-list {
		overflow: auto;
		list-style: none;
		min-height: 60px;
		background-color: #3cadd4;
	}


	.backlog-table ul{
		list-style: none;
	}



	.sortable-item{
		border-bottom: 1px solid #515050;
		cursor: move;
		color: white;    
		padding: .3rem 0 .3rem .3rem;
		text-align: left;
		width: 100%;
		background-color: #3cadd4;
	} 



	/* Item placeholder (visual helper) */

	.placeholder {
		background-color: grey;
		border: 1px dashed #666;
		height: 25px;
		margin-bottom: 5px;
	}

	.sprint-table,.backlog-table li:hover{

		background-color: #bcbcbc;
	}

</style>



<script>
	$(document).ready(function() {
		$( "#accordion" ).accordion({
			heightStyle: "content" 
		});


		$('.sortable-list').sortable({
			connectWith: '.sortable-list',
			placeholder: 'placeholder',

			receive	 : function(ev, ui) {
				console.log("nuevo elemento recibido ");
				$("#accordion").accordion( "refresh" );
			}

		});




	});
</script>
<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section id="main" class="wrapper">

	<div class= "container">

		<div class="row">

			<div class="8u 12u(3)">
			<div class="row">
				<% if @proyecto.photo.exists?%>
				<%= image_tag @proyecto.photo.url ,:class => 'logoImage float_left '%>
				<%else %>
				<%= image_tag("logo_proyecto.png",:class => 'logoImage float_left')%>
				<% end %>

				<div>
				<div class="nombre_proyecto">
					<strong><%= @proyecto.proy_nombre %></strong>
				</div>
					<p><%= @proyecto.proy_descripcion %></p>
					<br />
					<%= button_to projects_details_miembros_path(:id => @proyecto.id) ,{:controller => :projects,
						:action => 'miembros', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
						Equipo de Trabajo
						<% end %>
					</div>
			</div>
					
			<br />
			<br />
			<div class="row">
					<h2>Backlog &ensp;</h2>
					<button class="button largePadding styleIcon" data-toggle="modal" data-target="#product-modal">
						Agregar Historia de usuario<%= image_tag("ic_add_white.png", :class => "iconImage")%>
					</button> 		
			</div>		
					<div class="backlog-table"  >

							<div class="isa_info">
    							<i class="fa fa-info-circle"></i>
    							Aquí encontrarás las Historias de Usuario de la pila de este proyecto
							</div>
	

						<ul class="sortable-list" >
						<% (1..5).each do |i| %>
							<li class="sortable-item">
								<div class="row">
									<div class="6u 12u(3)">
										<p>Historia <%= i %> </p>
									</div>
									<div class="6u 12u(3)">
										<div class="row">
											<%= image_tag("ic_delete_white.png")%>
											<%= image_tag("ic_edit_white.png")%>
											<p>ESTADO</p>
											<p>Puntos 8</p>
										</div>
									</div>
								</div>
							</li>
							<% end %>

						</ul>
					</div>
				</div>

				<div class="4u 12u(3)">
				<button class="button largePadding styleIcon float_right" data-toggle="modal" data-target="#sprint-modal">
						Agregar<%= image_tag("ic_add_white.png", :class => "iconImage")%>
					</button> 
					<h2>Sprints</h2>
					
					<div id="accordion" class="sprint-table">
					<% (1..4).each do |i| %>
						<h3 >Sprint <%= i %></h3>
						<div>
							<ul class="sortable-list">


							</ul>
						</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>

<%= render "historias/new" %>
<%= render "sprints/new" %>