<section id="main" class="wrapper">
				<header class="major">
				  
					<div align="center"><%= link_to "Crear Proyecto" , "/projects/new", class:"button" %><br></div>

					
				</header>
				<div class= "container">
					<div class="row">
					<div class="8u 12u(3)">
						<% if @proyecto.photo.exists?%>
							<%= image_tag @proyecto.photo.url ,:class => 'logoImage float_left '%>
						<%else %>
						<%= image_tag("logo_proyecto.png",:class => 'logoImage float_left')%>
						<% end %>
						
						<div>
						<h1><%= @proyecto.proy_nombre %></h1>
						<p><%= @proyecto.proy_descripcion %></p>
						  <h1>Hola aqui mostrare los miembros del proyecto!</h1>
						<%= button_to projects_details_miembros_path(:id => @proyecto.id) ,{:controller => :projects,
															:action => 'miembros', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
															Equipo de Trabajo
														<% end %>
						</div>

						<div class="table-wrapper">
							<h2>Backlog</h2>

							<table id="tabla">
								<tbody>									
									<tr>
										<td>
											<h1>Historia 1 </h1>
										</td>	
									</tr>						
									<tr>
										<td>
											<h1>Historia 2 </h1>
										</td>		
									</tr>
									<tr>
										<td>
											<h1>Historia 3 </h1>
										</td>	
									</tr>						
									<tr>
										<td>
											<h1>Historia 4 </h1>
										</td>		
									</tr>
									<tr>
										<td>
											<h1>Historia 5 </h1>
										</td>	
									</tr>						
									<tr>
										<td>
											<h1>Historia 6 </h1>
										</td>		
									</tr>
									</tbody>
							</table>
						</div>
					</div>

					<div class="4u 12u(3)">
					<div class="table-wrapper">
						<h2>Sprints</h2>

						<table id="tabla">
							<tbody>									
							
								<tr>
									<td>
										<h1>Sprint 1 </h1>
									</td>
											
								</tr>
																
								<tr>
									<td>
										<h1>Sprint 2 </h1>
									</td>		
								</tr>
								<tr>
									<td>
										<h1>Sprint 3 </h1>
									</td>		
								</tr>
								<tr>
									<td>
										<h1>Sprint 4 </h1>
									</td>		
								</tr>
								<tr>
									<td>
										<h1>Sprint 5 </h1>
									</td>		
								</tr>
								<tr>
									<td>
										<h1>Sprint 6 </h1>
									</td>		
								</tr>
								<tr>
									<td>
										<h1>Sprint 7 </h1>
									</td>		
								</tr>
								
								<tr>
									<td>
										<h1>Sprint 8 </h1>
									</td>		
								</tr>
								

					
								</tbody>
						</table>
					</div>
			   </div>
			</div>

		 </div>
						




</section>