<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class="major">
					<h2>Proyectos</h2>
				</header>
				<div class="container">
					<div id="botonesProyecto" >	
						<div align="right"><%= link_to "Crear Proyecto" , "/projects/new", class:"button" %><br></div>
						Buscar:<input type="text" name="buscarProyecto" id="buscarProyecto" value="" placeholder="escriba el proyecto">
						<br>
						<br>						
					</div>
					<!-- Table -->
						<section>
						<div class="content2">
							<div class="table-wrapper">
								<table>
									<tbody>									
										<% for proyecto in @proyectos %>
											<tr>
											<div class="row">
												<td>
													  <%= link_to  project_details_path(:id => proyecto.id) do %>
														  <% if proyecto.photo.exists?%>
															 <%= image_tag proyecto.photo.url %>
														  <%else %>
														  	<%= image_tag("logoproyecto.jpg",:class => 'logoImage')%>
														  <% end %>
													  <% end %>
													  <strong><%= link_to proyecto.proy_nombre, project_details_path(:id => proyecto.id) %></strong><br>
													  <span><%= proyecto.proy_descripcion%></span> <br>
													  <%= proyecto.proy_estado%>
													
												</td>
						  						<td>
						  						<%= button_to "Editar" ,{:controller => :projects,
						      					:action => 'index', :id => proyecto.id }, :method => "post" , class:"largePadding"%>
						 						<%= button_to "Eliminar" ,{:controller => :projects,
						      					:action => 'index', :id => proyecto.id }, :method => "post" , class:"largePadding"%>
						      					</td>
						      					</div>
											</tr>
										<% end %>	
									</tbody>
								</table>
							</div>
						</div>
								<div align="center">
								<%= will_paginate @proyectos %>
						</div>
						</section>			
			</section>
		<div>
			
		</div>	
