<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<script type="text/javascript">

$(document).on('turbolinks:load', function() {

$('#myModal').on('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.danger');
})


$('.confirm-delete').on('click', function(e) {
    e.preventDefault();

    var id = $(this).data('id');
   $('#myModal').data('id', id).modal('show');
});



$('#btnYes').click(function() {
    // handle deletion here
  	var id = $('#myModal').data('id');
   
   $.ajax(
{
  url : '/projects/'+id,
  type: "POST",
})
  .done(function(data) {
    $("#respuesta").html(data);
  })
  .fail(function(data) {
    
  })
  .always(function(data) {
   
  });  	
});
});



</script>

<!-- Main -->
<div class="supreme-container">
<section id="main" class="wrapper">
	<header class="major">
		<h2>Mis Proyectos</h2>
	</header>
	<div class="container">
	<div class="isa_info">
    		<i class="fa fa-info-circle"></i>
    			Aquí encontrarás los proyectos que has creado o en los que otros usuarios te han agregado
			</div>
		<div id="botonesProyecto" >	
			<div align="right">
			<%= link_to new_project_path, class: "button styleIcon" do %>
			Crear Proyecto<%= image_tag("ic_add_white.png", :class => "iconImage")%>
			<% end %><br></div>
			<% if @proyectos.size==0%>
				<%= image_tag "/assets/proyectosVacios.jpg" %>
			<% else %>												
				Filtrar:<input type="text" name="buscarProyecto" id="buscarProyecto" onkeyup="filtrar()" value="" placeholder="Escriba el proyecto">
			<% end %>
			
			<br>
			<br>						
		</div>
		<!-- Table -->
		<section>
			<div class="content2">
				<div class="table-wrapper">
					<table id="tabla">
						<tbody>									
							<% for proyecto in @proyectos %>
							<tr>
								
								<td>
									<div class="row">
										
										<div class="8u 12u$(4)">
											<div>
												<%= link_to  project_details_path(:id => proyecto.id) do %>
												<% if proyecto.photo.exists?%>
												<%= image_tag proyecto.photo.url ,:class => 'logoImage float_left'%>
												<%else %>
												<%= image_tag("logo_proyecto.png",:class => 'logoImage float_left')%>
												<% end %>
												<% end %>
												<div class="nombre_proyecto">
												<strong ><%= link_to proyecto.proy_nombre, project_details_path(:id => proyecto.id) %></strong></div>
												<span class="more"><%= proyecto.proy_descripcion%></span>
											</div>
											<br>
											<div>
												Estado:
												<% if proyecto.proy_estado=="Abierto"%>
												
												<strong style="color:#3cadd4;"> <%= proyecto.proy_estado%> </strong>

												<% else %>
												
												<strong style="color:#E82C1D;"> <%= proyecto.proy_estado%> </strong>


												<% end %>
											</div>
										</div>

										<div class="3u 8u$(4)" style="float:right; display:table; align-items: center;">
										   <%if current_user.id == proyecto.user_id%>
											<ul class="actions fit" style="margin-top: 1em;">
												<li>
													<%= button_to edit_project_path(:id => proyecto.id) ,{:controller => :projects,
														:action => 'edit', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
														Editar<%= image_tag("ic_edit_white.png", :class => "iconImage")%>
													<% end %>
													</li>

													<li>
											
														<a href="" class="confirm-delete button styleIcon" data-id="<%= proyecto.id %>">Eliminar<%= image_tag("ic_delete_white.png", :class => "iconImage")%>
														</a>


												      </li>														
												</ul>
													<%end%>
												</div>

											</div>
										</td>
										<div>
										</tr>
										<% end %>										
									</tbody>
								</table>
							</div>
						</div>
						<div align="center">
							<%= will_paginate @proyectos %>
						</div>
					</section>			
				</section>
				<div>
					
				</div>	
				</div>


															
															 <!-- Modal -->
															 
															<div class="modal fade" id="myModal" role="dialog">
															 
															<div class="modal-dialog">
															      <!-- Modal content-->
															 
															<div class="modal-content">
															 
															<div class="modal-header">

															<button type="button" class="close" data-dismiss="modal">&times;</button>
															 
															<h4 class="modal-title">  Eliminar</h4>
															 
															</div>
															 
															<div class="modal-body">
															       <h1> Seguro desea eliminar este proyecto ?  </h1>
															</div>											 
															          <div class="modal-footer">
																	       	<a href="#" id="btnYes" class="btn danger">Si</a>

																		      <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>

															        </div>
															 
															      </div>
															 
															    </div>
															 
															  </div>
														
														


