<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<script type="text/javascript">
$('#myModal').on('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.danger');
})


$('.confirm-delete').on('click', function(e) {
    e.preventDefault();

    var id = $(this).data('id');
   $('#myModal').data('id', id).modal('show');
});

$('#btnYes').click(function() {
    // handle deletion here
  	var id = $('#myModal').data('id');
   
   alert("se elimino "+id);

  	
});


</script>

<!-- Main -->
<section id="main" class="wrapper">
	<header class="major">
		<h2>Proyectos</h2>
	</header>
	<div class="container">
		<div id="botonesProyecto" >	
			<div align="right">
			<%= link_to new_project_path, class: "button styleIcon" do %>
			Crear Proyecto<%= image_tag("ic_add_white.png", :class => "iconImage")%>
			<% end %><br></div>
			Filtrar:<input type="text" name="buscarProyecto" id="buscarProyecto" onkeyup="filtrar()" value="" placeholder="Escriba el proyecto">
			<br>
			<br>						
		</div>
		<!-- Table -->
		<section>
			<div class="content2">
				<div class="table-wrapper">
					<table id="tabla">
						<tbody>									
							<% for proyecto in @proyectos %>
							<tr>
								
								<td>
									<div class="row">
										
										<div class="8u 12u$(4)">
											<div>
												<%= link_to  project_details_path(:id => proyecto.id) do %>
												<% if proyecto.photo.exists?%>
												<%= image_tag proyecto.photo.url ,:class => 'logoImage float_left'%>
												<%else %>
												<%= image_tag("logo_proyecto.png",:class => 'logoImage float_left')%>
												<% end %>
												<% end %>
												<strong><%= link_to proyecto.proy_nombre, project_details_path(:id => proyecto.id) %></strong>
												<br>
												<span class="more"><%= proyecto.proy_descripcion%></span>
											</div>
											<br>
											<div>
												Estado:
												<% if proyecto.proy_estado=="Abierto"%>
												<h4 style="color:#3cadd4;"> <%= proyecto.proy_estado%> </h4>
												<% else %>
												<h4 style="color:#E82C1D;"> <%= proyecto.proy_estado%> </h4>
												<% end %>
											</div>
										</div>

										<div class="3u 8u$(4)" style="float:right">

											<ul class="actions fit">
												<li>
													<%= button_to edit_project_path(:id => proyecto.id) ,{:controller => :projects,
														:action => 'edit', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
														Editar<%= image_tag("ic_edit_white.png", :class => "iconImage")%>
													<% end %>
													</li>

													<li>
														<button type="button" class="confirm-delete button styleIcon" >Eliminar<%= image_tag("ic_delete_white.png", :class => "iconImage")%></button>

														<a href="#" class="confirm-delete" data-id="<%= proyecto.id %>">Delete</a><br>


												      </li>														
													</ul>
												</div>

											</div>
										</td>
										<div>
										</tr>
										<% end %>										
									</tbody>
								</table>
							</div>
						</div>
						<div align="center">
							<%= will_paginate @proyectos %>
						</div>
					</section>			
				</section>
				<div>
					
				</div>	

															
															 <!-- Modal -->
															 
															<div class="modal fade" id="myModal" role="dialog">
															 
															<div class="modal-dialog">
															      <!-- Modal content-->
															 
															<div class="modal-content">
															 
															<div class="modal-header">

															<button type="button" class="close" data-dismiss="modal">&times;</button>
															 
															<h4 class="modal-title">  Eliminar</h4>
															 
															</div>
															 
															<div class="modal-body">
															       <h1> Seguro desea eliminar este proyecto ?  </h1>
															</div>											 
															          <div class="modal-footer">
																	       	<a href="#" id="btnYes" class="btn danger">Si</a>

																		      <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>

															        </div>
															 
															      </div>
															 
															    </div>
															 
															  </div>
														
														


