<script type="text/javascript">
$(document).on('turbolinks:load', function() {

$('#eliminarMiembroModal').on('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.danger');
})


$('.confirm-delete').on('click', function(e) {
    e.preventDefault();

    var id = $(this).data('id');
    proyecto_id = $(this).data('proyecto');
   	$('#eliminarMiembroModal').data('id', id);
   	$('#eliminarMiembroModal').modal('show');
});

$('#btnYes').click(function() {
    // handle deletion here
  	var id = $('#eliminarMiembroModal').data('id');

   $.ajax(
{
  url : '/miembros/'+id+"?proyecto_id="+proyecto_id,
  type: "POST",
})
  .done(function(data) {
    $("#respuesta").html(data);
  })
  .fail(function(data) {
    
  })
  .always(function(data) {
   
  });  	
});
});

</script>


<div class="supreme-container">	 
<br/><h2 align="center">Miembros del proyecto</h2>

	<%proyecto=Proyecto.find(@q)%>
	
	<%if @miembros.size==0%>
		<h3 align="center">No hay Informaci칩n relacionada a Miembros del Equipo. <br /> Puedes empezar por <button type="button" align="left" class="button styleIcon" data-toggle="modal" data-target="#myModal">Agregar Miembro<%= image_tag("ic_add_white.png", :class => "iconImage")%> </button></h3> 

		<%else%>
				<%if !proyecto.nil?%>						   
				   	<section>
						 <div  style="width:60%; margin:0 auto 0 auto;">
								 <h4>Miembros asociados al proyecto  '<%=proyecto.proy_nombre%>' :</h4>
									<div align="right">
				<button type="button" class="button styleIcon" data-toggle="modal" data-target="#myModal">Agregar Miembro<%= image_tag("ic_add_white.png", :class => "iconImage")%> </button>
									</div>

									<br/>
						<table cellspacing="0" cellpadding="0"  width="500" >
												
									<tr>
					    				<th>Imagen de perfil</th>	
					    				<th>Detalles usuario</th>
					    				<th>Rol Desempe침ado</th>
					    				 <!--<%if current_user.id==proyecto.user_id%>
					    					<th align="center">Opciones</th>
					    				<%end%>-->
					    				<th align="center">Opciones</th>
							  		</tr>



						<% for user in @miembros %>
							
							 <%userAdmin= User.find(proyecto.user_id)
								 if user.user_id==userAdmin.id%>
								
											<tr>
													<td>
													<% if userAdmin.photo.exists?%>
														<%= image_tag userAdmin.photo.url ,:class => "profileImage top"%>
													<% else %>
														<%=image_tag("profile_placeholder.png", :class => "profileImage top")%>
													<% end %>
													</td>
													
													<td class="largePadding styleIcon"><p><%=userAdmin.nombres %>	
						  								 <%=userAdmin.apellidos%> <%=image_tag("adminicon.png" ,:class=>"top")%></p> 
						  								<em><%=userAdmin.email%></em>

						  							</td>
						  							
						  							<td style="padding-top: 0px;">
						  							
						  							<p><%rol=Rol.find(user.rol_id) %>	
						  							<%=rol.rol_nombre%></p>
						  							<p><em class="textoAzul"><strong class="textoAzul">(Administrador)</strong></em></p>
						  							</td>

						  							<td>
											  			
											  			
															 <%= link_to edit_miembro_path(:id => user.id) ,{:controller => :miembros,
																:action => 'edit', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
																Editar Rol <%= image_tag("ic_edit_white.png", :class => "iconImage")%>
															<% end %>

														 <button type="button"  class="button largePadding styleIcon" data-dismiss="modal" disabled>Remover  <%= image_tag("ic_delete_white.png", :class => "iconImage")%></button>

										  			</td>

							  			     </tr>
									<%break%>										
								<%end%>
						<%end%>	
												
									<% for user in @miembros %>
										


										<%iduser=user.user_id
										 miembro= User.find(iduser)%>

										 <%if miembro.id!=proyecto.user_id%>
					  					
												<tr>
														<td>
														<% if miembro.photo.exists?%>
														<%= image_tag miembro.photo.url ,:class => "profileImage top"%>
													<% else %>
														<%=image_tag("profile_placeholder.png", :class => "profileImage top")%>
													<% end %>
														</td>
														
														<td class="largePadding styleIcon"><p><%=miembro.nombres %>	
							  								 <%=miembro.apellidos%></p>
							  								<em><%=miembro.email%></em>	
							  							</td>
							  							<td style="padding-top: 0px;"><%rol=Rol.find(user.rol_id) %>	
							  							<%=rol.rol_nombre%>    	
							  							</td>
							  							<td>
							  							 <%if current_user.id==proyecto.user_id%>
												  				

															 <%= link_to edit_miembro_path(:id => user.id) ,{:controller => :miembros,
																:action => 'edit', :class => "button largePadding styleIcon" }, type:"button", :method => "get" do %>
																Editar Rol <%= image_tag("ic_edit_white.png", :class => "iconImage")%>
															<% end %>
																	<a href="" class="confirm-delete button styleIcon" data-id="<%= user.id %>" data-proyecto="<%= proyecto.id %>" data-target="#eliminarMiembroModal">Remover <%= image_tag("ic_delete_white.png", :class => "iconImage")%>
																	</a>
		     											<% else %>
		     												 <button type="button"  class="button largePadding styleIcon" data-dismiss="modal" disabled>Editar Rol <%= image_tag("ic_edit_white.png", :class => "iconImage")%></button>

																	 <button type="button"  class="button largePadding styleIcon" data-dismiss="modal" disabled>Remover  <%= image_tag("ic_delete_white.png", :class => "iconImage")%></button>
							  							 <%end%>
							  							 </td>
															
												</tr>
											<% end %>
								<% end %>										
									
						</table>
									 <br/>
										<div align="center">
											<!--Elimino paginacion debido a error con javascript, que impide agregar miembros cuando se cambia de p치gina, a menos que se haga F5 <%= will_paginate @miembros %>-->
										</div>
								</div>
							</section>	

							
							
				    
				<%end%>
				
		<%end%>
</div>

	<!--Modificando Pao-->
                                          <head>
												  <title>Bootstrap Example</title>
												  <meta charset="utf-8">
												  <meta name="viewport" content="width=device-width, initial-scale=1">

												</head>
												<body>
												 
												<div class="container">

												 <!-- Modal -->
												 
												<div class="modal fade" id="myModal" role="dialog">
												 
												<div class="modal-dialog">
												      <!-- Modal content-->
												 
												<div class="modal-content">
												 
												<div class="modal-header">

												<button type="button" class="close" data-dismiss="modal">&times;</button>
												 
												<h4 class="modal-title">  Nuevo Miembro</h4>
												 
												</div>
												 
												<div class="modal-body">

                                                   <%= form_for @miembro do |m| %>



          												  <div class="hidden_element">
                                                          <%=m.text_field :proyecto_id, value:@q  %>
                                                          </div>
													      <br>   
													        <% correos={}%>
													        <% @nombre_correos.each do |correo|%>
													        <%correos[correo.email]=correo.id%>
													        <%end%>
													        <%lista=correos.sort%>
													        <%=m.label :" seleccione el Correo Electr칩nico:"%>
													        <%=m.select :user_id, lista%>
													        <br>


													        <% nombres_rol={}%>
													        <% @nombre_roles.each do |rol|%>
													        <%nombres_rol[rol.rol_nombre]=rol.id%>
													        <%end%>
													        <%lista=nombres_rol.sort%>
													        <%=m.label :" seleccione el Rol:"%>
													        <%=m.select :rol_id, lista%>
													       <br>
   
   
												</div>
												 
												 
												          <div class="modal-footer">

												           <%=m.submit "Agregar", class:"button" %>

												          <% end %>
												        </div>
												 
												      </div>
												 
												    </div>
												 
												  </div>
												 
												</div>
												 
												 
												</body>


                                         <!-- Termina de Modificar Paola-->



 															<!-- Modal Andres-->
															 
															<div class="modal fade" id="eliminarMiembroModal" role="dialog">
															 
															<div class="modal-dialog">
															      <!-- Modal content-->
															 
															<div class="modal-content">
															 
															<div class="modal-header">

															<button type="button" class="close" data-dismiss="modal">&times;</button>
															 
															<h4 class="modal-title">  Eliminar</h4>
															 
															</div>
															 
															<div class="modal-body">
															       <h1> Seguro desea eliminar este miembro del proyecto ?  </h1>
															</div>											 
															          <div class="modal-footer">
																	       	<a href="#" id="btnYes" class="btn danger">Si</a>

																		      <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>

															        </div>
															 
															      </div>
															 
															    </div>
															 
															  </div>
															  <!--Acaba modificar Andres-->