<section id="one" class="wrapper " style="background-color:#e3e3e9">
	<div class="container  contact_form" style="text-align:center">	
	   <header class="major">
	   	<h2>Nuevo Proyecto</h2>
	   </header>	
	   		<%= form_for :proyecto, :html => { :multipart => true } do |f| %>
	   			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	   			 <div class="form-group hidden_element">
		   			<%= f.file_field :photo, onchange:"readURL(this);", style:"overflow:hidden;" %>
	   			</div>
	   			
					<div align="center" style="margin:0 auto 0 auto;" class="container 50%">
                        <div style="text-align:center" >
							 <%=image_tag("logo_proyecto.png", id:"img_prev",:class => 'logoImage')%>
							<div>
							<a onclick="chooseFile()" class="button styleIcon">Subir Logo<%= image_tag("ic_insert_photo_white.png", :class => "iconImage")%></a>	
							</div>
						 </div>
						 <br>
						 <%= f.text_field :proy_nombre, autofocus: true ,placeholder:"Nombre Proyecto" ,:required => true, style:"background-color:white;" , class:"item" %>
						<br>
						<%= f.text_area :proy_descripcion, rows:3, autofocus: true ,placeholder:"Descripción" ,:required => true, style:"background-color:white;" , class:"item" %>
						<br>	
						<div class=" flex-container" >
						<%= f.text_field :proy_fechainicio, placeholder:"Fecha de inicio", :required => true, style:"background-color:white;", class:"item datepicker" %>
						<p style="padding: 13px;">hasta</p> 
						<%= f.text_field :proy_fechafinalizacion, placeholder:"Fecha de finalizacion", :required => true, style:"background-color:white;", class:"item datepicker" %>
						</div>	    
					</div>	
					

					<div hidden class="6u 12u$(4)">
									<ul class="actions fit small">
										<li><h2>Equipo inicial</h2></li>
										
									    <li>


									    <!--Modificando Pao-->
                                          <head>
												  <title>Bootstrap Example</title>
												  <meta charset="utf-8">
												  <meta name="viewport" content="width=device-width, initial-scale=1">

												</head>
												<body>
												 
												<div class="container">
												 
												 
												  <!-- Trigger the modal with a button -->
												<button type="button" align="right" class="button styleIcon" data-toggle="modal" data-target="#myModal">Agregar Miembro<%= image_tag("ic_add_white.png", :class => "iconImage")%> </button>
												 <!-- Modal -->
												 
												<div class="modal fade" id="myModal" role="dialog">
												 
												<div class="modal-dialog">
												      <!-- Modal content-->
												 
												<div class="modal-content">
												 
												<div class="modal-header">

												<button type="button" class="close" data-dismiss="modal">&times;</button>
												 
												<h4 class="modal-title">  Nuevo Miembro</h4>
												 
												</div>
												 
												<div class="modal-body">

												        <% correos={}%>
												        <% @nombre_correos.each do |correo|%>
												        <%correos[correo.email]=correo.id%>
												        <%end%>
												        <%lista=correos.sort%>
												        <%=f.label :"seleccione el Correo Electrónico:"%>
												        <%=f.select :user_id, lista%>
												        <br>

												        <% nombres_rol={}%>
												        <% @nombre_rols.each do |rol|%>
												        <%nombres_rol[rol.rol_nombre]=rol.id%>
												        <%end%>
												        <%lista1=nombres_rol.sort%>
												        <%=f.label :"seleccione el Rol:"%>
												        <%=f.select :user_id, lista1%>
												       <br>

												</div>
												 
												 
												          <div class="modal-footer">
												          <button type="button"  class="button" data-dismiss="modal">Registrar</button> 
												        </div>
												 
												      </div>
												 
												    </div>
												 
												  </div>
												 
												</div>
												 
												 
												</body>


                                         <!-- Termina de Modificar Paola-->

									    </li>

									</ul>
						
							
								   <div style="width:100%; height:450px; overflow:auto;">
								     <table cellspacing="0" cellpadding="1" border="1" width="300" >
								     <% 7.times do  %>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.png", :class => "profileImage")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <% end %>
								     </table>  
								  </div>
			</div>
		
            <br>
			<div class="actions"><br/>
    			<%= f.submit "Crear", class: "special big" %>
  			</div>
		<%end %>
	</div>
				
</section>
