<section id="one" class="wrapper " style="background-color:#e3e3e9">
	<div class="container" style="text-align:center">	

	   <header class="major">
	   	<h2>Nuevo Proyecto</h2>
	   </header>	
	   		<form action="/projects" method="post">
	   			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	   			
	   			<div class ="row">
					<div class="6u 12u$(4)">
                        <div style="text-align:center" >
							 <%=image_tag("logoproyecto.jpg",:class => 'logoImage')%>
							<div>
							<a href="#" class="button">Subir Logo</a>	
							</div>
						 </div>
						 <br>
										<input type="text" name="nombre" id="name" value="" placeholder="Nombre Proyecto" style="background-color:white;" required="true">
										<br>
										<textarea name="descripcion" id="message" placeholder="Descripcion" rows="9" style="background-color:white;" required="true"></textarea>		    
					</div>	

					<div class="6u 12u$(4)">
									<ul class="actions fit small">
										<li><h2>Equipo inicial</h2></li>
										
									    <li><div align="right"><%= link_to "Nuevo Miembro +" , "/miembros/registrar", class:"button" %><br></div> </li>

									</ul>
						
							
								   <div style="width:100%; height:450px; overflow:auto;">
								     <table cellspacing="0" cellpadding="1" border="1" width="300" >
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								        <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								        <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								        <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.jpg")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								     </table>  
								  </div>
			</div>
		</div>
            <br>
			<input value="Crear" class="special big" type="submit" style="">
		</form>
	</div>
				
</section>
