<section id="one" class="wrapper " style="background-color:#e3e3e9">
	<div class="container" style="text-align:center">	

	   <header class="major">
	   	<h2>Nuevo Proyecto</h2>
	   </header>	
	   		<%= form_for :proyecto, :html => { :multipart => true } do |f| %>
	   			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	   			 <div class="form-group hidden_element">
		   			<%= f.file_field :photo, onchange:"readURL(this);", style:"overflow:hidden;" %>
	   			</div>
	   			
	   			<div class ="row">
					<div class="6u 12u$(4)">
                        <div style="text-align:center" >
							 <%=image_tag("logo_proyecto.png", id:"img_prev",:class => 'logoImage')%>
							<div>
							<a onclick="chooseFile()" class="button">Subir Logo</a>	
							</div>
						 </div>
						 <br>
						 <%= f.text_field :proy_nombre, autofocus: true ,placeholder:"Nombre Proyecto " ,:required => true, style:"background-color:white;" , class:"item" %>
										<br>
						<%= f.text_area :proy_descripcion, rows:9, autofocus: true ,placeholder:"Descripcion " ,:required => true, style:"background-color:white;" , class:"item" %>		    
					</div>	

					<div class="6u 12u$(4)">
									<ul class="actions fit small">
										<li><h2>Equipo inicial</h2></li>
										
									    <li><div align="right"><%= link_to "Nuevo Miembro +" , "/miembros/registrar", class:"button" %><br></div> </li>

									</ul>
						
							
								   <div style="width:100%; height:450px; overflow:auto;">
								     <table cellspacing="0" cellpadding="1" border="1" width="300" >
								     <% 7.times do  %>
								       <tr>
								       		<td>
								              <div class="row">
													<%=image_tag("profile_placeholder.png")%>
													<h4> jhon</h4>
													<p>Doe</p>
												</div>
											<td>
								       </tr>
								       <% end %>
								     </table>  
								  </div>
			</div>
		</div>
            <br>
			<div class="actions"><br/>
    
    			<%= f.submit "Crear", class: "special big" %>
  			</div>
		<%end %>
	</div>
				
</section>
