<section id="one" class="wrapper " style="background-color:#e3e3e9">
	<div class="container" >	
	   <header class="major">
	   	<h2>Nuevo Proyecto</h2>
	   </header>		
              <div class="row uniform 50%">
					
					<div class="6u 12u$(4)">
                       
                        <div style="text-align:center" >
							 <%=image_tag("logoproyecto.jpg",:class => 'logoImage')%>
							<div>
							<a href="#" class="button">Subir Logo</a>	
							</div>
						 </div>
						 <br>



										<input type="text" name="nombre" id="name" value="" placeholder="Nombre Proyecto" style="background-color:white;">
										<br>
										<textarea name="descripcion" id="message" placeholder="Descripcion" rows="6" style="background-color:white;"></textarea>
					</div>	
					<div class="6u 12u$(4)">
									<ul class="actions fit small">
										<li><h2>Equipo inicial</h2></li>
										<li><a href="#" class="button fit ">Nuevo Miembro +</a></li>
									</ul>

						<div class="table-wrapper">
								<table class="alt">
									<tbody>
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>

										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										
									</tbody>
								</table>
						</div>

					</div>

			</div>
	</div>
				
</section>

