<section id="one" class="wrapper " >
	<div class="container" >	
	   <header class="major">
	   	<h2>Nuevo Proyecto</h2>
	   </header>		
              <div class="row uniform 50%">
					
					<div class="6u 12u$(4)">
                        <div class="container 50%">
						 
						 <span class="image left"><%=image_tag("logoproyecto.jpg")%>
						 	<a href="#" class="button">Subir Logo</a>
						 </span>

						 </div>
										<input type="text" name="nombre" id="name" value="" placeholder="Nombre Proyecto">
										<br>
										<textarea name="descripcion" id="message" placeholder="Descripcion" rows="6"></textarea>
					</div>	
					<div class="6u 12u$(4)">
									<ul class="actions fit small">
										<li><h2>Equipo inicial</h2></li>
										<li><a href="#" class="button fit ">Nuevo Miembro +</a></li>
									</ul>

						<div class="table-wrapper">
								<table class="alt">
									<tbody>
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>

										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										
										<tr>
											<td>
												<div class="row">
													<%=image_tag("profile_placeholder.gif")%>
													<h4> ipsum</h4>
													<p>Lorem ipsum dolor</p>
												</div>
											</td>
										</tr>
										
									</tbody>
								</table>
						</div>

					</div>

			</div>
	</div>
				
</section>

