<section id="main" class="wrapper style1 special claseRegistro" >
  <div  align="center" style="margin:0 auto 0 auto " class="container 50% contact_form">
 
    <%= devise_error_messages! %>
              <header class="major">
                <h2 align="center"  class="textoBlanco">Registro</h2>
                <p class="textoBlanco">Creará una cuenta de usuario en ScrumMaster , por favor complete los siguientes campos : </p>
                 <em class="textoBlanco">Recuerde que los campos con (*) son obligatorios</em>
              </header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

 <%= f.label :"Nombre:" , class:"textoBlanco item"%> 
  <div class=" flex-container" ><br/>
    <%= f.text_field :nombres, autofocus: true ,placeholder:"Nombre(s) " ,:required => true, style:" text-align: center;" , class:"item" %>
   
    <%= f.text_field :apellidos, autofocus: true ,placeholder:"Apellido(s)",:required => true ,style:" text-align: center;" ,class:"item" %>
    
  </div>
  <%= f.label :"Apodo:" , class:"textoBlanco item"%> 
  
  <div class="flex-container" ><br/>
    <%= f.text_field :apodo, autofocus: true ,placeholder:"Apodo" ,style:" text-align: center; ", class:"item"%>
  </div>


  <%= f.label :"Correo electronico:" , class:"textoBlanco item"%> 
  <div class="flex-container"><br/>
     <%= f.email_field :email, autofocus: true ,placeholder:"Correo electrónico" ,:required => true,style:" text-align: center; ", class:"item" , pattern:"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"%>

      <span class="form_hint">Formato correcto: "sucorreo@correo.com"</span>
  </div>

   <%= f.label :"Contraseña:" , class:"textoBlanco item"%> 
  <div class="flex-container"><br/>
    <%= f.password_field :password, autocomplete: "off",placeholder:"Contraseña",:required => true,style:" text-align: center;" ,class:"item" , pattern:".{6,}"%>
     <% if @minimum_password_length %>
       <span class="form_hint">(<%= @minimum_password_length %> caracteres como mínimo)</span>
    <% end %>
     <%= f.password_field :password_confirmation, autocomplete: "off" ,:required => true,placeholder:"Confirmar contraseña" ,style:" text-align: center;" ,class:"item" ,pattern:".{6,}" %>
      <% if @minimum_password_length %>
       <span class="form_hint">(<%= @minimum_password_length %> caracteres como mínimo)</span>
    <% end %>
  </div>
  <div class="actions"><br/>
    
    <%= f.submit "Registrarse" %>
  </div>
<% end %>



  </div>
</section>
