<section id="main" class="wrapper style1 special claseRegistro" >
  <div id="formRegistro" align="center" style="margin:0 auto 0 auto " class="container 50%">
 
    
              <header class="major">
                <h2 align="center"  class="textoBlanco">Registro</h2>
                <p> </p>
              </header>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field  6u 12u$(small)" ><br/>
    <%= f.label :"Nombre(s):" , class:"textoBlanco" %>
    <%= f.text_field :nombres, autofocus: true ,placeholder:"Nombre(s) ", style:" text-align: center;"%>
  </div>

  <div class="field  6u 12u$(small)" ><br/>
    <%= f.label :"Apellido(s):" , class:"textoBlanco" %>
    <%= f.text_field :apellidos, autofocus: true ,placeholder:"Apellido(s)", style:" text-align: center;" %>
  </div>

  <div class="field  6u 12u$(small)" ><br/>
    <%= f.label :"Apodo:" , class:"textoBlanco" %>
    <%= f.text_field :apodo, autofocus: true ,placeholder:"Apodo" ,style:" text-align: center;"%>
  </div>


 <div class="field  6u 12u$(small)" ><br/>
    <%= f.label :"correo electronico" , class:"textoBlanco" %>
    <%= f.email_field :email, autofocus: true ,placeholder:"Correo electronico" ,style:" text-align: center;"%>
  </div>

  <div class="field 6u 12u$(small)"><br/>
    <%= f.label :"Contrase単a" , class:"textoBlanco"%>
    <% if @minimum_password_length %>
    <em class="textoBlanco">(<%= @minimum_password_length %> caracteres como minimo) </em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",placeholder:"Contrase単a" ,style:" text-align: center;" %>
  </div>

  <div class="field 6u 12u$(small)"><br/>
    <%= f.label :"Confirme su contrase単a" , class:"textoBlanco" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" ,placeholder:"confirmar contrase単a" ,style:" text-align: center;" %>
  </div>

  <div class="actions"><br/>
    <br/>
    <%= f.submit "Registrarse" %>
  </div>
<% end %>



  </div>
</section>
